<div class="limiter">
  <div class="container-register">
    <div class="wrap-register">
      <span class="register-form-title mb-4">
        <img src="/assets/images/logo-300-220.webp" alt="EconoFlow Logo" class="h-10 w-10 mr-3 img-fluid">
      </span>
      <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-floating mb-1">
          <p>{{ 'PleaseSignUp' | translate }}</p>
        </div>

        <mat-form-field class="mb-2" [style.width.%]="100">
          <mat-label>{{ 'FieldEmailAddress' | translate }}</mat-label>
          <input placeholder="{{ 'PlaceholderEmailAddress' | translate }}" matInput formControlName="email">
          @if ((email?.invalid && email?.touched) || httpErrors){
          <mat-error *ngFor="let error of getFormFieldErrors('email')">{{ error |  translate }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="mb-2" [style.width.%]="100">
          <mat-label>{{ 'FieldPassword' | translate }}</mat-label>
          <input placeholder="{{ 'PlaceholderPassword' | translate }}" matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          @if ((password?.invalid && password?.touched) || httpErrors){
          <mat-error *ngFor="let error of getFormFieldErrors('password')">{{ error | translate }}</mat-error>
          }
        </mat-form-field>

        <div class="row g-2 mb-2">
          <div class="col-md">
            {{ 'PasswordMustHave' | translate }}
            <ul>
              <li [style.color]="hasLowerCase ? 'var(--bs-success)' : 'var(--mat-form-field-error-text-color)'">{{ 'OneLowercaseCharacter' | translate }}</li>
              <li [style.color]="hasUpperCase ? 'var(--bs-success)' : 'var(--mat-form-field-error-text-color)'">{{ 'OneUppercaseCharacter' | translate }}</li>
              <li [style.color]="hasOneNumber ? 'var(--bs-success)' : 'var(--mat-form-field-error-text-color)'">{{ 'OneNumber' | translate }}</li>
              <li [style.color]="hasOneSpecial ? 'var(--bs-success)' : 'var(--mat-form-field-error-text-color)'">{{ 'OneSpecialCharacter' | translate }}</li>
              <li [style.color]="hasMinCharacteres ? 'var(--bs-success)' : 'var(--mat-form-field-error-text-color)'">{{ 'EightCharacters' | translate }}</li>
            </ul>
          </div>
        </div>

        <mat-form-field class="mb-2" [style.width.%]="100">
          <mat-label>{{ 'FieldConfirmPassword' | translate }}</mat-label>
          <input placeholder="{{ 'PlaceholderPassword' | translate }}" matInput formControlName="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          @if ((confirmPassword?.invalid && confirmPassword?.touched) || httpErrors){
          <mat-error *ngFor="let error of getFormFieldErrors('confirmPassword')">{{ error | translate }}</mat-error>
          }
        </mat-form-field>

        <div *ngIf="registerForm.errors?.['passwordMismatch'] && (registerForm.touched || registerForm.dirty)">
          <p class="mb-3 text-danger text-center">{{ 'PasswordMustMatch' | translate }}</p>
        </div>
        <div *ngIf="httpErrors && errors?.['general']">
          <p class="mb-3 text-danger text-center">{{errors['general']}}
          </p>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="registerForm.invalid">{{ 'ButtonSignUp' | translate }}</button>
      </form>
      <span class="register-footer">
        {{ 'AlreadyHaveAccount' | translate }}
        <a [routerLink]="['/login']" routerLinkActive="active">{{ 'ButtonSignIn' | translate }}</a>
      </span>
    </div>
  </div>
</div>
