<div class="container text-center">
  <div class="row d-flex justify-content-center align-items-center" style="min-height: 100vh">
    <div class="wrap col-xl-4 col-lg-5 col-md-7 col-sm-9 p-4">   
      <span>
        <img src="/assets/images/logo-300-220.webp" alt="EconoFlow Logo" class="h-10 w-10 mr-3 img-fluid">
      </span>
      <form class="login-form mt-4 mb-2 text-start" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-floating mb-1">
          <p>{{ 'PleaseSignIn' | translate }}</p>
        </div>

        <mat-form-field class="mb-2" [style.width.%]="100">
          <mat-label>{{ 'FieldEmailAddress' | translate }}</mat-label>
          <input id="email" placeholder="{{ 'PlaceholderEmailAddress' | translate }}" matInput formControlName="email">
          @if ((email?.invalid && email?.touched) || httpErrors) {
          <mat-error *ngFor="let error of getFormFieldErrors('email')">{{ error | translate }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field [style.width.%]="100">
          <mat-label>{{ 'FieldPassword' | translate }}</mat-label>
          <input id="password" placeholder="{{ 'PlaceholderPassword' | translate }}" matInput formControlName="password"
                 [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          @if ((password?.invalid && password?.touched) || httpErrors) {
          <mat-error *ngFor="let error of getFormFieldErrors('password')">{{ error | translate }}</mat-error>
          }
        </mat-form-field>

        <a [routerLink]="['/recovery']" class="float-end mb-2" routerLinkActive="active">{{ 'ForgotPassword' | translate }}</a>
        <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="loginForm.invalid">{{ 'ButtonSignIn' | translate }}</button>
        <div *ngIf="httpErrors && errors?.['general']">
          <p class="mt-5 mb-3 text-danger text-center">{{ errors['general'] | translate }}</p>
        </div>
      </form>
      <span>
        {{ 'NeedAccount' | translate }}
        <a [routerLink]="['/register']" routerLinkActive="active">{{ 'ButtonSignUp' | translate }}</a>
      </span>
    </div>
  </div>
</div>
