<div class="container">
  <h1 class="text-center mt-5">Incomes</h1>
  <div class="row income-list justify-content-center">
    <div class="col-md-8">
      <div class="list-group">
        @for (income of (incomes$ | async); track income.id){
        <div class="list-group-item income-item">
          @if (income.id != this.editingIncome.id) {
          <div>
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h5 class="mb-1">{{ income.name }}</h5>
                <p class="mb-1">{{ income.date | date: 'dd/MM/yyyy' }}</p>
                <p class="mb-1">{{ income.amount | currency }}</p>
              </div>
              <div class="btn-group">
                <button class="btn btn-secondary" (click)="edit(income)">Edit</button>
                <button class="btn btn-danger" (click)="remove(income.id)">Remove</button>
              </div>
            </div>
          </div>
          } @else {
          <div>
            <form class="d-flex justify-content-between align-items-center my-1" [formGroup]="incomeForm" (ngSubmit)="save()">
              <div class="form-floating">
                <input type="text" class="form-control" id="name" placeholder="Supermarket" formControlName="name" [class.is-invalid]="name?.invalid && name?.touched">
                <label for="name">Income Name</label>
                @if(name?.invalid && name?.touched){
                <div>
                  @if(name?.errors?.['required']){
                  <div class="text-danger">Income Name is required.</div>
                  }
                </div>
                }
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="date" formControlName="date" [class.is-invalid]="date?.invalid && date?.touched">
                <label for="date">Date</label>
                @if(date?.invalid && date?.touched){
                <div>
                  @if(date?.errors?.['required']){
                  <div class="text-danger">Income Date is required.</div>
                  }
                  @if(date?.errors?.['pattern']){
                  <div class="text-danger">Invalid Date format. (yyyy-MM-dd).</div>
                  }
                </div>
                }
              </div>
              <div class="ml-1 form-floating">
                <input type="text" class="form-control" id="amount" formControlName="amount" [class.is-invalid]="amount?.invalid && amount?.touched">
                <label for="amount">Amount</label>
                @if(amount?.invalid && amount?.touched){
                <div>
                  @if(amount?.errors?.['required']){
                  <div class="text-danger">Income Amount is required.</div>
                  }
                </div>
                }
              </div>
              <div class="btn-group">
                <button class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
                <button class="btn btn-success" [disabled]="incomeForm.invalid">Save</button>
              </div>
            </form>
            <div *ngIf="httpErrors">
              <p class="mt-5 mb-3 text-danger text-center">{{errors.statusText}}</p>
            </div>
          </div>
          }
        </div>
        }
        @empty {
        <div class="text-center">
          No income created yet.
        </div>
        }
      </div>
    </div>
  </div>
</div>
