<div class="dialog-header">
  <h2>{{ data.title | translate }}</h2>
  <button mat-icon-button (click)="close(false)" class="float-end" aria-label="Close" type="button">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <div [innerHTML]="data.message"></div>
  <hr />
  <div class="dialog-footer d-flex justify-content-end">
    <button mat-button type="button" (click)="close(false)">{{ 'ButtonCancel' | translate }}</button>
    <button mat-raised-button color="warn" type="submit" cdk-focus-start (click)="close(true)">{{ data.action | translate }}</button>
  </div>
</mat-dialog-content>
