<div class="container text-center">
  <app-return-button (returnButtonEvent)="previous()"></app-return-button>
  <div class="row justify-content-center">
    <div class="wrap col-lg-8">
      <h1 class="text-center mt-5 mb-3">Expense Items</h1>
      <div class="list-group">
        @for (expenseItem of (expense$ | async)?.items; track expenseItem.id){
        <div class="list-group-item expense-item">
          @if(expenseItem.id != this.editingExpenseItem.id) {
          <div>
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h5 class="mb-1">{{ expenseItem.name }}</h5>
                <p class="mb-1">
                  date: {{ expenseItem.date | date: 'dd/MM/yyyy' }}
                  amount: {{ expenseItem.getTotalAmount() | currency }}
                </p>
              </div>
              <div class="btn-group">
                <button class="btn btn-secondary" (click)="edit(expenseItem)">
                  <fa-icon [icon]="faPenToSquare"></fa-icon>
                </button>
                <button class="btn btn-danger" (click)="triggerDelete(expenseItem.id)">
                  <fa-icon [icon]="faTrash"></fa-icon>
                </button>
              </div>
            </div>
          </div>
          } @else {
          <div>
            <form class="d-flex justify-content-between align-items-center my-1" [formGroup]="expenseItemForm" (ngSubmit)="save()">
              <div class="form-floating">
                <input type="text" class="form-control" id="name" placeholder="Personal" formControlName="name" [class.is-invalid]="name?.invalid && name?.touched">
                <label for="name">Expense Name</label>
                @if(name?.invalid && name?.touched){
                <div>
                  @if(name?.errors?.['required']) {
                  <div class="text-danger">Expense Name is required.</div>
                  }
                </div>
                }
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="date" formControlName="date" [class.is-invalid]="date?.invalid && date?.touched">
                <label for="date">Date</label>
                @if(date?.invalid && date?.touched){
                <div>
                  @if(date?.errors?.['required']){
                  <div class="text-danger">Date is required.</div>
                  }
                  @if(date?.errors?.['pattern']){
                  <div class="text-danger">Invalid Date format. (yyyy-MM-dd).</div>
                  }
                </div>
                }
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="amount" formControlName="amount" [class.is-invalid]="amount?.invalid && amount?.touched">
                <label for="amount">Amount</label>
                @if(amount?.invalid && amount?.touched){
                <div>
                  @if(amount?.errors?.['pattern']){
                  <div class="text-danger">Only numbers is valid.</div>
                  }
                </div>
                }
              </div>
              <div class="mb-2 btn-group">
                <button class="btn btn-secondary" type="button" (click)="cancelEdit()">Cancel</button>
                <button class="btn btn-success" type="submit" [disabled]="expenseItemForm.invalid">
                  <fa-icon [icon]="faFloppyDisk"></fa-icon>
                </button>
              </div>
            </form>
            @if (httpErrors){
            <div>
              <p class="mt-5 mb-3 text-danger text-center">{{errors.statusText}}</p>
            </div>
            }
          </div>
          }
        </div>
        }
        @empty {
        <div class="text-center">
          No expense created yet.
        </div>
        }
      </div>
    </div>
  </div>
  <app-add-button (clickedEvent)="add()"></app-add-button>
</div>
<app-confirm-dialog (confirmed)="handleConfirmation($event)"></app-confirm-dialog>
