<div class="container text-center">
  <div class="row justify-content-md-center">
    <form [formGroup]="categoryForm" (ngSubmit)="save()">

      <!-- Name Input with Autocomplete -->
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Name</mat-label>
        <input matInput
                id="name"
                formControlName="name"
                [matAutocomplete]="auto" />
        @if (name?.invalid && name?.touched){
        <mat-error *ngFor="let error of getFormFieldErrors('name')">{{ error |  translate }}</mat-error>
        }

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredCategories$ | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- General Error Display -->
      <div *ngIf="httpErrors && errors['general']">
        <p class="mb-3 text-danger text-center">{{ errors['general'] }}</p>
      </div>

      <!-- Submit Button -->
      <div class="float-end">
        <button mat-raised-button color="primary" type="submit" [disabled]="categoryForm.invalid">
          Create
        </button>
      </div>
    </form>
  </div>
</div>
