<div class="container text-center">
  <app-return-button (returnButtonEvent)="previous()"></app-return-button>
  <div class="row justify-content-md-center">
    <div class="wrap col-lg-8">
      <h1 class="text-center mt-5 mb-3">Create Category</h1>
      <form [formGroup]="categoryForm" (ngSubmit)="save()">
        <div class="input justify-content-center">
          <div class="col-8 mb-2 form-floating">
            <input type="text" class="form-control" id="name" placeholder="Supermarket" formControlName="name" [class.is-invalid]="name?.invalid && name?.touched">
            <label for="name">Name</label>
            @if(name?.invalid && name?.touched){
            <div>
              <ul>
                @for (error of getFormFieldErrors('name'); track $index) {
                <li class="text-danger" [innerHtml]="error"></li>
                }
              </ul>
            </div>
            }
          </div>
        </div>
        @if (httpErrors && errors['general']) {
        <div>
          <p class="mb-3 text-danger text-center">{{errors['general']}}</p>
        </div>
        }
        <div class="float-end">
          <button type="submit" class="btn btn-primary" [disabled]="categoryForm.invalid">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
