<div class="container">
  <div class="row justify-content-center">
    <form [formGroup]="accessForm" (ngSubmit)="addUser()">

      <!-- User Input with Autocomplete -->
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>{{ 'FieldUserEmail' | translate }}</mat-label>
        <input matInput
                placeholder="{{ 'PlaceholderEmailAddress' | translate }}"
                id="user"
                formControlName="user"
                [matAutocomplete]="auto" />
        @if (user?.invalid && user?.touched){
        <mat-error *ngFor="let error of getFormFieldErrors('user')">{{ error |  translate }}</mat-error>
        }

        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let user of filteredUsers$ | async" [value]="user">
            {{ user.fullName }} - {{ user.email }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- Role Input -->
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>{{ 'FieldRole' | translate }}</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of roles" [value]="role">{{ role2LabelMapping[role] | translate }}</mat-option>
        </mat-select>
        <mat-error *ngIf="role?.invalid && role?.touched">
          <span *ngFor="let error of getFormFieldErrors('role')">{{ error |  translate }}</span>
        </mat-error>
      </mat-form-field>

      <!-- General Error Display -->
      <div *ngIf="httpErrors && errors['general']">
        <p *ngFor="let error of errors['general']" class="mb-3 text-danger text-center">{{ error | translate }}</p>
      </div>

      <!-- Submit Button -->
      <div class="float-end">
        <button mat-raised-button color="primary" type="submit" [disabled]="accessForm.invalid">
          {{ 'ButtonInvite' | translate }}
        </button>
      </div>
    </form>
  </div>

  <hr class="mb-4" />

  <!-- List of User -->
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>{{ 'User' | translate }}</th>
              <th>{{ 'Role' | translate }}</th>
              <th class="d-none d-md-table-cell">{{ 'Accepted' | translate }}</th>
              <th>{{ 'Actions' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of currentUsers$ | async">
              <!-- User -->
              <td class="text-break">
                @if (user.userName){
                <div>{{ user.userName }}</div>
                <small class="text-muted">{{ user.userEmail }}</small>
                } @else {
                <div>{{ user.userEmail }}</div>
                }
              </td>

              <!-- Role -->
              <td>
                <mat-form-field appearance="outline" class="mat-form-field-sm w-100" style="max-width: 115px;">
                  <mat-select [(ngModel)]="user.role" (selectionChange)="updateUserRole()">
                    <mat-option *ngFor="let role of roles" [value]="role">{{ role2LabelMapping[role] | translate }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>

              <!-- Accepted -->
              <td class="d-none d-md-table-cell">{{ (user.accepted ? 'Yes' : 'No') | translate }}</td>

              <!-- Actions -->
              <td>
                <button mat-icon-button color="warn" (click)="removeUser(user.id)" aria-label="Remover usuário">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
