<div class="container">
  <div class="row justify-content-center">
    <app-return-button (returnButtonEvent)="previous()"></app-return-button>
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="wrap col-lg-8">
          <app-current-date (dateUpdatedEvent)="updateDate($event)"></app-current-date>
          <button
            class="btn btn-primary"
            (click)="copyPreviousBudget()"
            *ngIf="month.budget === 0">
            Copy Previous Budget
          </button>
          <div class="clearfix mt-3">
            <span class="float-start">Budget:</span>
            <span class="float-end" [ngClass]="getClassBasedOnPercentage(getPercentageWaste(month.waste, month.budget))">{{getTextBasedOnPercentage(getPercentageWaste(month.waste, month.budget))}} {{ month.remaining | currency }} left</span>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                 [ngClass]="getClassToProgressBar(getPercentageWaste(month.waste, month.budget))"
                 [style.width.%]="getPercentageWaste(month.waste, month.budget)"
                 [attr.aria-valuenow]="getPercentageWaste(month.waste, month.budget)">
              {{ month.waste | currency }}
            </div>
          </div>
          <div class="clearfix">
            <span class="float-end budget">of {{ month.budget | currency }}</span>
          </div>
          <hr class="solid" />
          <div class="d-grid">
            <button class="btn btn-default" (click)="selectCategories()">
              <span class="float-start"><fa-icon [icon]="faArrowUp" transform="rotate-45" style="color: #c0392b"></fa-icon> Money Out</span>
              <span class="float-end">-{{ month.waste | currency }} ></span>
            </button>
            <button class="btn btn-default" (click)="selectIncomes()">
              <span class="float-start"><fa-icon [icon]="faArrowDown" transform="rotate-45" style="color: #2ecc71"></fa-icon> Money In</span>
              <span class="float-end">{{ month.earned | currency }} ></span>
            </button>
          </div>
        </div>
        <div class="wrap col-lg-8">
          <h3 class="mt-3">{{ getCurrentDate() | date: 'yyyy'}}</h3>
          <div class="clearfix mt-3">
            <span class="float-start">Budget:</span>
            <span class="float-end" [ngClass]="getClassBasedOnPercentage(getPercentageWaste(year.waste, year.budget))">{{getTextBasedOnPercentage(getPercentageWaste(year.waste, year.budget))}} {{ year.remaining | currency }} left</span>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                 [ngClass]="getClassToProgressBar(getPercentageWaste(year.waste, year.budget))"
                 [style.width.%]="getPercentageWaste(year.waste, year.budget)"
                 [attr.aria-valuenow]="getPercentageWaste(year.waste, year.budget)">
              {{ year.waste | currency }}
            </div>
          </div>
          <div class="clearfix">
            <span class="float-end">of {{ year.budget | currency }}</span>
          </div>
          <hr class="solid" />
          <div class="clearfix">
            <span class="float-start"><fa-icon [icon]="faArrowUp" transform="rotate-45" style="color: #c0392b"></fa-icon> Money Out</span>
            <span class="float-end">-{{ year.waste | currency }}</span>
          </div>
          <div class="clearfix mt-3">
            <span class="float-start"><fa-icon [icon]="faArrowDown" transform="rotate-45" style="color: #2ecc71"></fa-icon> Money In</span>
            <span class="float-end">{{ year.earned | currency }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
