<div class="container">
  <div class="row justify-content-center">
    <app-return-button (returnButtonEvent)="previous()"></app-return-button>
    <app-current-date [currentDate]="currentDate" (dateUpdatedEvent)="updateDate($event)"></app-current-date>
    <div class="row">
      <app-list-incomes class="col-lg-6" [projectId]="projectId" [currentDate]="currentDate"></app-list-incomes>
      <app-list-categories class="col-lg-6" [projectId]="projectId" [currentDate]="currentDate"></app-list-categories>
    </div>
    <app-add-button (clickedEvent)="add($event)" [buttons]="buttons"></app-add-button>
  </div>
</div>
