.btn-default {
    margin: 0 -14px;
}

.month {
    text-transform: capitalize;
}

.label-money {
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 400;
}

.slider-container {
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: #666 #ddd;
  margin: 0;
}

.slider {
  padding: 0;
  margin: 0;
}

.slide {
  height: 115px;
  color: #333;
  display: flex;
  align-items: center;
}

@media (max-width: 576px) {
  .hide-border-on-mobile {
    border-right: none !important;
  }
}

.card {
  width: 100%;
  height: 100px;
}

.card-body {
  color: #000;
}
