.cssload-container {
  position: fixed;
  display: flex;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(240, 244, 248, 0.8);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.loader {
  text-align: center;
  animation: pulse 1.5s infinite;
}

.loader-icon {
  margin: 0 auto;
  width: 80px;
  color: #2c3e50;
  margin-bottom: 20px;
  display: block;
  transform-origin: center;
  animation: rotate 2s linear infinite;
}

.loader-text {
  font-size: 18px;
  color: #34495e;
  font-weight: bold;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.coins-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.coin {
  width: 30px;
  font-size: 30px;
  color: #27ae60;
  margin: 0 10px;
  animation: drop 0.5s ease-in-out infinite alternate;
}

  .coin:nth-child(1) {
    animation-delay: -0.4s;
  }

  .coin:nth-child(2) {
    animation-delay: -0.2s;
  }

  .coin:nth-child(3) {
    animation-delay: 0s;
  }

@keyframes drop {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}
