html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.wrap {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px 0;
  padding-bottom: 33px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.input {
  display: flex;
}

.mat-mdc-snack-bar-container.success-snackbar {
  --mdc-snackbar-container-color: #2ecc71;
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

.mat-mdc-snack-bar-container.error-snackbar {
  --mdc-snackbar-container-color: #e74c3c;
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

.mat-mdc-snack-bar-container.info-snackbar {
  --mdc-snackbar-container-color: #3498db;
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

.warning {
  color: #ffc107;
}

.danger {
  color: #dc3545;
}

.btn-default:hover {
  background-color: #f8f9fa;
}

.cursor-default {
  cursor: default !important;
}