
.recovery-form-title {
  display: block;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}

  .recovery-form-title i {
    font-size: 60px;
  }

.footer{
    margin-top: 100px;
    font-size: 10px;
}
  .footer p {
      margin-bottom: 0;
  }

  .footer a {
    font-weight: bold;
  }
