<div class="container">
  <div class="row">
    <div class="list-group list-group-flush">
      @for (category of (categories$ | async); track category.id) {
      <div class="list-group-item">
        @if (category.id != this.editingCategory.id) {
        <div class="d-flex justify-content-between">
          <h3 class="category-name">{{ category.name }}</h3>
          @if (canAddOrEdit()){
          <div class="btn-group actions">
            <button class="btn btn-secondary" (click)="edit(category);">
              <fa-icon [icon]="faPenToSquare"></fa-icon>
            </button>
            <button class="btn btn-danger" (click)="triggerDelete(category);">
              <fa-icon [icon]="faBoxArchive"></fa-icon>
            </button>
          </div>
          }
        </div>
        } @else {
        <div>
          <form [formGroup]="categoryForm" (ngSubmit)="save()">
            <!-- Name Input with Autocomplete -->
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>{{ 'FieldCategoryName' | translate }}</mat-label>
              <input matInput
                     id="name"
                     formControlName="name"
                     [matAutocomplete]="auto" />
              @if (name?.invalid && name?.touched){
              <mat-error *ngFor="let error of getFormFieldErrors('name')">{{ error |  translate }}</mat-error>
              }

              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredCategories$ | async" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <div class="d-flex justify-content-end">
              <button mat-button type="button" (click)="cancelEdit()">Cancel</button>
              <button mat-raised-button color="primary" type="submit" [disabled]="categoryForm.invalid">
                {{ 'ButtonSave' | translate }}
              </button>
            </div>
          </form>
          @if (httpErrors) {
          <div>
            <p class="mt-5 mb-3 text-danger text-center">{{ errors.statusText }}</p>
          </div>
          }
        </div>
        }
      </div>
      }
      @if (canAddOrEdit()){
      <button class="list-group-item btn-default btn-add" (click)="add()" style="height: 100px">
        <fa-icon class="btn btn-primary btn-circle" [icon]="faPlus" size="2xl"></fa-icon>
      </button>
      }
    </div>
  </div>
</div>
