<div class="container text-center">
  <app-current-date (dateUpdatedEvent)="updateDate($event)"></app-current-date>
  <div class="row justify-content-center">
    <div class="wrap col-lg-8">

      <div class="container position-relative">
        <div class="row align-items-center">
          <!-- Back button on the left -->
          <div class="col-auto position-absolute start-0">
            <app-return-button (returnButtonEvent)="previous()"></app-return-button>
          </div>

          <!-- Centered title -->
          <div class="col text-center mt-3 mb-3">
            <h2>Categories</h2>
          </div>

          <!-- Right button on the far right -->
          <div class="col-auto position-absolute end-0">
            <app-add-button (clickedEvent)="add()"></app-add-button>
          </div>

        </div>
      </div>

      <div class="list-group list-group-flush">
        @for (category of (categories$ | async); track category.id) {
          <button class="list-group-item" [ngClass]="{
                'list-group-item-action': category.id != this.editingCategory.id,
                'btn-default': category.id != this.editingCategory.id
              }">
            @if (category.id != this.editingCategory.id) {
              <div (click)="select(category.id)">
                <h3 class="mb-1">{{ category.name }}</h3>
                <div class="btn-group" style="position: absolute; right: 15px; top: 10px;">
                  <button class="btn btn-secondary" (click)="edit(category); $event.stopPropagation();">
                    <fa-icon [icon]="faPenToSquare"></fa-icon>
                  </button>
                  <button class="btn btn-danger" (click)="triggerDelete(category.id); $event.stopPropagation();">
                    <fa-icon [icon]="faBoxArchive"></fa-icon>
                  </button>
                </div>
                <div class="clearfix mt-3">
                  <span class="float-start">Budget:</span>
                  <span class="float-end"
                        [ngClass]="getClassBasedOnPercentage(getPercentageWaste(category.getTotalWaste(), category.getTotalBudget()))">{{ getTextBasedOnPercentage(getPercentageWaste(category.getTotalWaste(), category.getTotalBudget())) }} {{ category.getTotalRemaining() | currencyFormat }}
                    left</span>
                </div>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                       [ngClass]="getClassToProgressBar(getPercentageWaste(category.getTotalWaste(), category.getTotalBudget()))"
                       [style.width.%]="getPercentageWaste(category.getTotalWaste(), category.getTotalBudget())"
                       [attr.aria-valuenow]="getPercentageWaste(category.getTotalWaste(), category.getTotalBudget())">
                    {{ category.getTotalWaste() | currencyFormat }}
                  </div>
                </div>
                <div class="clearfix">
                  <span class="float-end">of {{ category.getTotalBudget() | currencyFormat }}</span>
                </div>
              </div>
            } @else {
              <div>
                <form [formGroup]="categoryForm" (ngSubmit)="save()">
                  <div class="row">

                    <mat-form-field appearance="fill" class="col-md-12">
                      <mat-label>Category Name</mat-label>
                      <input matInput id="name" placeholder="Personal" formControlName="name"
                             [class.is-invalid]="name?.invalid && name?.touched">
                      @if ((name?.invalid && name?.touched) || httpErrors) {
                        <mat-error *ngFor="let error of getFormFieldErrors('name')">{{ error }}</mat-error>
                      }
                    </mat-form-field>

                  </div>

                  <div class="btn-group">
                    <button mat-button type="button" (click)="cancelEdit()">Cancel</button>
                    <button mat-raised-button color="primary" type="submit" [disabled]="categoryForm.invalid">
                      <fa-icon [icon]="faFloppyDisk"></fa-icon>
                    </button>
                  </div>
                </form>
                @if (httpErrors) {
                  <div>
                    <p class="mt-5 mb-3 text-danger text-center">{{ errors.statusText }}</p>
                  </div>
                }
              </div>
            }
          </button>
        } @empty {
          <div class="text-center">
            No category created yet.
          </div>
        }
      </div>
    </div>
  </div>
</div>
<app-confirm-dialog (confirmed)="handleConfirmation($event)"></app-confirm-dialog>
