<div class="container text-center">
  <div class="row justify-content-md-center">
    <form [formGroup]="projectForm" (ngSubmit)="saveProject()">

      <!-- Name Field -->
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>{{ 'FieldProjectName' | translate }}</mat-label>
        <input matInput id="name" placeholder="{{ 'PlaceholderProjectName' | translate }}" formControlName="name">
        @if (name?.invalid && name?.touched){
        <mat-error *ngFor="let error of getFormFieldErrors('name')">{{ error |  translate }}</mat-error>
        }
      </mat-form-field>

      <!-- Preferred Currency Field -->
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>{{ 'FieldCurrency' | translate }}</mat-label>
        <mat-select formControlName="preferredCurrency">
          @for (currency of getCurrencies(); track currency) {
          <mat-option [value]="currency">{{currency}}</mat-option>
          }
          @if (preferredCurrency?.invalid && preferredCurrency?.touched){
          <mat-error *ngFor="let error of getFormFieldErrors('preferredCurrency')">{{ error |  translate }}</mat-error>
          }
        </mat-select>
        @if (preferredCurrency?.invalid && preferredCurrency?.touched){
        <mat-error *ngFor="let error of getFormFieldErrors('preferredCurrency')">{{ error |  translate }}</mat-error>
        }
      </mat-form-field>

      <!-- General Error Display -->
      <div *ngIf="httpErrors && errors['general']">
        <p *ngFor="let error of errors['general']" class="mb-3 text-danger text-center">{{ error | translate }}</p>
      </div>

      <!-- Submit Button -->
      <div class="float-end">
        <button mat-raised-button color="primary" type="submit" [disabled]="projectForm.invalid">
          {{ (editingProject.id ? 'ButtonUpdate' : 'ButtonCreate') | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
