p {
  margin-top: 5px;
}

.grid-list {
  display: flex;
  margin-top: 40px;
}

.card {
  border: none;
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
