<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <mat-grid-list cols="3" rowHeight="1:1" class="grid-list">
        @for (project of (projects$ | async); track project.id) {
        <mat-grid-tile>
          <div (click)="select(project)" class="grid-item">
            <h1>{{ project.name }}</h1>
            <h5>{{ project.type }}</h5>
          </div>
        </mat-grid-tile>
        }

        <mat-grid-tile>
          <div (click)="add()" class="grid-item">
            <fa-icon [icon]="faPlus" size="2xl"></fa-icon>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
