<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <mat-grid-list cols="2" rowHeight="1:1" class="grid-list">
        @for (userProject of (userProjects$ | async); track userProject.id) {
        <mat-grid-tile>
          <div class="card" [class]="userProject?.project?.id && (defaultProjectId$ | async) === userProject.project.id ? 'text-bg-primary' : 'text-bg-secondary'">
            <div (click)="select(userProject)" class="card-body">
              <h1>{{ userProject?.project?.name }}</h1>
            </div>
            <div class="card-footer">
              <div class="dropdown">
                <button class="btn more" [class]="userProject?.project?.id && (defaultProjectId$ | async) === userProject.project.id ? 'btn-primary' : 'btn-secondary'" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <fa-icon [icon]="faEllipsis"></fa-icon>
                </button>
                <ul class="dropdown-menu">
                  <li><button type="button" class="edit dropdown-item" (click)="edit(userProject.project)">{{ 'ButtonEdit' | translate }}</button></li>
                  @if (userProject?.project?.id && (defaultProjectId$ | async) != userProject.project.id){
                  <li><button type="button" class="dropdown-item" (click)="setAsDefault(userProject.project)">{{ 'ButtonSetDefault' | translate }}</button></li>
                  }
                  @if (isAdmin(userProject)){
                  <li><button type="button" class="dropdown-item" (click)="managePermission(userProject.project)">{{ 'ButtonAccessControl' | translate }}</button></li>
                  }
                </ul>
              </div>
            </div>
          </div>
        </mat-grid-tile>
        }

        <mat-grid-tile>
          <div (click)="add()" id="add-item" class="card text-bg-secondary">
            <div class="card-body">
              <fa-icon [icon]="faPlus" size="2xl"></fa-icon>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
