<div class="container text-center">
  <div class="row justify-content-center">
    <div class="wrap col-lg-8">
      <h1 class="text-center mt-5 mb-3">Projects</h1>
      <div class="list-group">
        @for (project of (projects$ | async); track project.id){
        <div class="list-group-item project-item">
          @if(project.id != this.editingProject.id) {
          <div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn" (click)="select(project.id)">
                <h5 class="mb-1">{{ project.name }}</h5>
                <p class="mb-1">{{ project.type }}</p>
              </div>
              <div class="btn-group">
                <button class="btn btn-secondary" (click)="edit(project)">
                  <fa-icon [icon]="faPenToSquare"></fa-icon>
                </button>
                <button class="btn btn-danger" (click)="remove(project.id)">
                  <fa-icon [icon]="faBoxArchive"></fa-icon>
                </button>
              </div>
            </div>
          </div>
          } @else {
          <div>
            <form class="d-flex justify-content-between align-items-center my-1" [formGroup]="projectForm" (ngSubmit)="save()">
              <div class="form-floating">
                <input type="text" class="form-control" id="name" placeholder="Personal" formControlName="name" [class.is-invalid]="name?.invalid && name?.touched">
                <label for="name">Project Name</label>
                @if(name?.invalid && name?.touched){
                <div>
                  @if(name?.errors?.['required']) {
                  <div class="text-danger">Project Name is required.</div>
                  }
                </div>
                }
              </div>
              <div class="form-floating">
                <input type="text" class="form-control-plaintext" readonly id="type" formControlName="type">
                <label for="type">Project Type</label>
              </div>
              <div class="btn-group">
                <button class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
                <button class="btn btn-success" [disabled]="projectForm.invalid">
                  <fa-icon [icon]="faFloppyDisk"></fa-icon>
                </button>
              </div>
            </form>
            @if (httpErrors){
            <div>
              <p class="mt-5 mb-3 text-danger text-center">{{errors.statusText}}</p>
            </div>
            }
          </div>
          }
        </div>
        }
        @empty {
        <div class="text-center">
          No project created yet.
        </div>
        }
      </div>
    </div>
  </div>
  <app-add-button (clickedEvent)="add()"></app-add-button>
</div>
