<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <mat-grid-list cols="2" rowHeight="1:1" class="grid-list">
        @for (project of (projects$ | async); track project.id) {
        <mat-grid-tile>
          <div class="card" [class]="(defaultProjectId$ | async) == project.id ? 'text-bg-primary' : 'text-bg-secondary'">
            <div (click)="select(project)" class="card-body">
              <h1>{{ project.name }}</h1>
            </div>
            <div class="card-footer">
              <div class="dropdown">
                <button class="btn more" [class]="(defaultProjectId$ | async) == project.id ? 'btn-primary' : 'btn-secondary'" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <fa-icon [icon]="faEllipsis"></fa-icon>
                </button>
                <ul class="dropdown-menu">
                  <li><button type="button" class="edit dropdown-item" (click)="edit(project)">Edit Name</button></li>
                  @if ((defaultProjectId$ | async) != project.id){
                    <li><button type="button" class="dropdown-item" (click)="setAsDefault(project)">Set as Default</button></li>
                  }
                  <li><button type="button" class="dropdown-item" (click)="managePermission(project)">Access Control</button></li>
                </ul>
              </div>
            </div>
          </div>
        </mat-grid-tile>
        }

        <mat-grid-tile>
          <div (click)="add()" id="add-item" class="card text-bg-secondary">
            <div class="card-body">
              <fa-icon [icon]="faPlus" size="2xl"></fa-icon>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
