<div class="container">
  <div class="row justify-content-center">
    <div class="wrap col-lg-8">
      @if (isEmailUpdated){
      <div class="text-center" style="margin-top: 40px;">
        <fa-icon class="fa-4x" [icon]="faEnvelopeOpenText"></fa-icon>
        <h3>Check your email</h3>
        <p>We have sent a confirmation to your email.</p>
        <div class="footer text-center">
          <p>Did not receive the email? Check your spam filter.</p>
        </div>
      </div>
      } @else {
      <h2 class="text-center mt-3 mb-3">My Profile</h2>
      <form [formGroup]="userForm">
        <div class="row g-2 mb-2">
          <div class="col-md">
            <!-- First Name Field -->
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName">
              @if (firstName?.invalid && firstName?.touched){
              <mat-error *ngFor="let error of getFormFieldErrors(userForm, 'firstName')">{{ error }}</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-md">
            <!-- Last Name Field -->
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName">
              @if (lastName?.invalid && lastName?.touched){
              <mat-error *ngFor="let error of getFormFieldErrors(userForm, 'lastName')">{{ error }}</mat-error>
              }
            </mat-form-field>
          </div>
        </div>

        <div class="row g-2 mb-2">
          <div class="col-md">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email">
              @if (email?.invalid && email?.touched){
              <mat-error *ngFor="let error of getFormFieldErrors(userForm, 'email')">{{ error }}</mat-error>
              }
              <ng-container matIconSuffix *ngIf="user$ | async as user">
                <fa-icon class="emailCheck"
                         [icon]="user.emailConfirmed ? faCircleCheck : faCircleXmark"
                         [style.color]="user.emailConfirmed ? '#2ecc71' : '#c0392b'">
                </fa-icon>
              </ng-container>
            </mat-form-field>
          </div>

          <div class="col-md">
            <!-- Preferred Currency Field -->
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Preferred Currency</mat-label>
              <mat-select formControlName="preferredCurrency">
                @for (currency of getCurrencies(); track currency) {
                <mat-option [value]="currency">{{currency}}</mat-option>
                }
                @if (preferredCurrency?.invalid && preferredCurrency?.touched){
                <mat-error *ngFor="let error of getFormFieldErrors(userForm, 'preferredCurrency')">{{ error }}</mat-error>
                }
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <!-- General Error Display -->
        <div *ngIf="httpErrors && errors['general']">
          <p class="mb-3 text-danger text-center">{{ errors['general'] }}</p>
        </div>
      </form>
      }
      <hr class="solid" />
      @if (isPasswordUpdated){
      <div class="text-center">
        <fa-icon class="fa-4x" [icon]="faCheck"></fa-icon>
        <h3>Password Reset</h3>
        <p>Your password has been reset successfully</p>
      </div>
      } @else {
      <form [formGroup]="passwordForm">

        <div class="row g-2 mb-2">
          <div class="col-md">
            <!-- Old Password -->
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Old Password</mat-label>
              <input matInput formControlName="oldPassword" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
              @if (oldPassword?.invalid && oldPassword?.touched && oldPassword?.value){
              <mat-error *ngFor="let error of getFormFieldErrors(passwordForm, 'oldPassword')" [innerHtml]="error"></mat-error>
              }
            </mat-form-field>
          </div>
        </div>

        <div class="row g-2 mb-2">
          <div class="col-md">
            <!-- New Password -->
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>New Password</mat-label>
              <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
              @if (password?.invalid && password?.touched && password?.value){
              <mat-error *ngFor="let error of getFormFieldErrors(passwordForm, 'password')" [innerHtml]="error"></mat-error>
              }
            </mat-form-field>
          </div>
        </div>

        <div class="row g-2 mb-2">
          <div class="col-md">
            Password must have:
            <ul>
              <li [style.color]="hasLowerCase ? 'var(--bs-success)' : 'var(--mat-form-field-error-text-color)'">One lowercase character</li>
              <li [style.color]="hasUpperCase ? 'var(--bs-success)' : 'var(--mat-form-field-error-text-color)'">One uppercase character</li>
              <li [style.color]="hasOneNumber ? 'var(--bs-success)' : 'var(--mat-form-field-error-text-color)'">One number</li>
              <li [style.color]="hasOneSpecial ? 'var(--bs-success)' : 'var(--mat-form-field-error-text-color)'">One special character</li>
              <li [style.color]="hasMinCharacteres ? 'var(--bs-success)' : 'var(--mat-form-field-error-text-color)'">8 characters minimum</li>
            </ul>
          </div>
        </div>

        <div class="row g-2 mb-2">
          <div class="col-md">
            <!-- Confirm Password -->
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Confirm Password</mat-label>
              <input matInput formControlName="confirmPassword" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
              @if (confirmPassword?.invalid && confirmPassword?.touched && confirmPassword?.value){
              <mat-error *ngFor="let error of getFormFieldErrors(passwordForm, 'confirmPassword')" [innerHtml]="error"></mat-error>
              }
            </mat-form-field>
          </div>
        </div>

        <!-- General Error Display -->
        <div *ngIf="passwordForm.errors?.['passwordMismatch'] && (passwordForm.touched || passwordForm.dirty)">
          <p class="mb-3 text-danger text-center">Password must match</p>
        </div>
        <div *ngIf="httpErrors && errors['general']">
          <p class="mb-3 text-danger text-center">{{ errors['general'] }}</p>
        </div>

        <div class="float-end">
          <button type="button" (click)="resetPasswordForm();reset()" mat-flat-button color="warn">Cancel</button>
          <button type="button" (click)="save();savePassword();" mat-flat-button color="primary" [disabled]="(passwordForm.invalid && passwordForm.touched) || (userForm.invalid && userForm.touched) || (!userForm.touched && !passwordForm.touched)">Save</button>
        </div>
        <div class="clearfix"></div>
      </form>
      }
      <hr class="solid" />
      <div class="danger-zone rounded p-3 mt-4 text-danger">
        <h3>Danger Zone</h3>
        <p>Deleting your account is permanent and cannot be undone.</p>
        <button class="btn btn-danger btn-sm" (click)="openDeleteDialog()">
          Delete Account
        </button>
      </div>
    </div>
  </div>
</div>
<app-confirm-dialog (confirmed)="confirm($event)"></app-confirm-dialog>
