<div class="container">
  <div class="row justify-content-center">
    <div class="wrap col-lg-8">
      @if (isEmailUpdated){
      <div class="text-center" style="margin-top: 40px;">
        <fa-icon class="fa-4x" [icon]="faEnvelopeOpenText"></fa-icon>
        <h3>{{ 'CheckYourEmail' |  translate }}</h3>
        <p>{{ 'WeSentConfirmation' |  translate }}</p>
        <div class="footer text-center">
          {{ 'DidNotReceiveEmail' |  translate }}
        </div>
      </div>
      } @else {
      <h2 class="text-center mt-3 mb-3">{{ 'MyProfile' |  translate }}</h2>
      <form [formGroup]="userForm">
        <div class="row g-2 mb-2">
          <div class="col-md">
            <!-- First Name Field -->
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>{{ 'FieldFirstName' |  translate }}</mat-label>
              <input matInput placeholder="{{ 'PlaceholderFirstName' | translate }}" formControlName="firstName">
              @if (firstName?.invalid && firstName?.touched){
              <mat-error *ngFor="let error of getFormFieldErrors(userForm, 'firstName')">{{ error |  translate }}</mat-error>
              }
            </mat-form-field>
        </div>
          <div class="col-md">
            <!-- Last Name Field -->
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>{{ 'FieldLastName' |  translate }}</mat-label>
              <input matInput placeholder="{{ 'PlaceholderLastName' | translate }}" formControlName="lastName">
              @if (lastName?.invalid && lastName?.touched){
              <mat-error *ngFor="let error of getFormFieldErrors(userForm, 'lastName')">{{ error |  translate }}</mat-error>
              }
            </mat-form-field>
          </div>
        </div>

        <div class="col-md">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>{{ 'FieldEmailAddress' |  translate }}</mat-label>
            <input matInput placeholder="{{ 'PlaceholderEmailAddress' | translate }}" formControlName="email">
            @if (email?.invalid && email?.touched){
            <mat-error *ngFor="let error of getFormFieldErrors(userForm, 'email')">{{ error |  translate }}</mat-error>
            }
            <ng-container matIconSuffix *ngIf="user$ | async as user">
              <fa-icon class="emailCheck"
                       [icon]="user.emailConfirmed ? faCircleCheck : faCircleXmark"
                       [style.color]="user.emailConfirmed ? '#2ecc71' : '#c0392b'">
              </fa-icon>
            </ng-container>
          </mat-form-field>
        </div>

        <!-- General Error Display -->
        <div *ngIf="httpErrors && errors['general']">
          <p class="mb-3 text-danger text-center">{{ errors['general'] | translate }}</p>
        </div>
      </form>
      }
      <hr class="solid" />
      @if (isPasswordUpdated){
      <div class="text-center">
        <fa-icon class="fa-4x" [icon]="faCheck"></fa-icon>
        <h3>{{ 'PasswordReset' |  translate }}</h3>
        <p>{{ 'PasswordResetSuccessfully' |  translate }}</p>
      </div>
      } @else {
      <form [formGroup]="passwordForm">

        <div class="row g-2 mb-2">
          <div class="col-md">
            <!-- Old Password -->
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>{{ 'FieldOldPassword' |  translate }}</mat-label>
              <input matInput placeholder="{{ 'PlaceholderOldPassword' | translate }}" formControlName="oldPassword" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
              @if ((oldPassword?.invalid && oldPassword?.touched) || httpErrors){
              <mat-error *ngFor="let error of getFormFieldErrors(passwordForm, 'oldPassword')">{{ error | translate }}</mat-error>
              }
            </mat-form-field>
          </div>
        </div>

        <div class="row g-2 mb-2">
          <div class="col-md">
            <!-- New Password -->
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>{{ 'FieldNewPassword' | translate }}</mat-label>
              <input matInput placeholder="{{ 'PlaceholderNewPassword' | translate }}" formControlName="password" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
              @if ((password?.invalid && password?.touched) || httpErrors){
              <mat-error *ngFor="let error of getFormFieldErrors(passwordForm, 'password')">{{ error | translate }}</mat-error>
              }
            </mat-form-field>
          </div>
        </div>

        <div class="row g-2 mb-2">
          <div class="col-md">
            {{ 'PasswordMustHave' | translate }}
            <ul>
              <li [style.color]="hasLowerCase ? 'var(--bs-success)' : 'var(--mat-form-field-error-text-color)'">{{ 'OneLowercaseCharacter' | translate }}</li>
              <li [style.color]="hasUpperCase ? 'var(--bs-success)' : 'var(--mat-form-field-error-text-color)'">{{ 'OneUppercaseCharacter' | translate }}</li>
              <li [style.color]="hasOneNumber ? 'var(--bs-success)' : 'var(--mat-form-field-error-text-color)'">{{ 'OneNumber' | translate }}</li>
              <li [style.color]="hasOneSpecial ? 'var(--bs-success)' : 'var(--mat-form-field-error-text-color)'">{{ 'OneSpecialCharacter' | translate }}</li>
              <li [style.color]="hasMinCharacteres ? 'var(--bs-success)' : 'var(--mat-form-field-error-text-color)'">{{ 'EightCharacters' | translate }}</li>
            </ul>
          </div>
        </div>

        <div class="row g-2 mb-2">
          <div class="col-md">
            <!-- Confirm Password -->
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>{{ 'FieldConfirmNewPassword' | translate }}</mat-label>
              <input matInput placeholder="{{ 'PlaceholderNewPassword' | translate }}" formControlName="confirmPassword" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
              @if ((confirmPassword?.invalid && confirmPassword?.touched) || httpErrors){
              <mat-error *ngFor="let error of getFormFieldErrors(passwordForm, 'confirmPassword')">{{ error | translate }}</mat-error>
              }
            </mat-form-field>
          </div>
        </div>

        <!-- General Error Display -->
        <div *ngIf="passwordForm.errors?.['passwordMismatch'] && (passwordForm.touched || passwordForm.dirty)">
          <p class="mb-3 text-danger text-center">{{ 'PasswordMustMatch' | translate }}</p>
        </div>
        <div *ngIf="httpErrors && errors['general']">
          <p class="mb-3 text-danger text-center">{{ errors['general'] | translate }}</p>
        </div>

        <div class="float-end">
          <button type="button" (click)="resetPasswordForm();reset()" mat-flat-button color="warn">{{ 'ButtonCancel' | translate }}</button>
          <button type="button" (click)="save();savePassword();" mat-flat-button color="primary" [disabled]="(passwordForm.invalid && passwordForm.touched) || (userForm.invalid && userForm.touched) || (!userForm.touched && !passwordForm.touched)">{{ 'ButtonSave' | translate }}</button>
        </div>
        <div class="clearfix"></div>
      </form>
      }
      <hr class="solid" />
      <div class="danger-zone rounded p-3 mt-4 text-danger">
        <h3>{{ 'DangerZone' | translate }}</h3>
        <p>{{ 'DeleteAccountMessage' | translate }}</p>
        <button class="btn btn-danger btn-sm" (click)="openDeleteDialog()">
          {{ 'ButtonDeleteAccount' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
