.footer {
  margin-top: 30px;
  font-size: 10px;
}

  .footer p {
    margin-bottom: 0;
  }

.emailCheck {
  margin-right: 10px;
}

.danger-zone {
  border-color: var(--bs-btn-hover-border-color);
  border-style: solid;
}
