.btn-add {
  position: fixed;
  bottom: 20px; /* Adjust the distance from the bottom */
  right: 20px; /* Adjust the distance from the right */
  z-index: 1000; /* Ensure button is above other elements */
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

@media (min-width: 576px) {
  .btn-add {
    position: absolute;
    top: 90px;
    right: 70px;
  }
}
