<app-return-button (returnButtonEvent)="previous()"></app-return-button>
<div class="container text-center">
  <app-current-date [currentDate]="currentDate" (dateUpdatedEvent)="updateDate($event)"></app-current-date>
  <div class="row justify-content-center">
    <div class="wrap col-lg-8">
      <h1 class="text-center mt-5">Expenses</h1>
      <div class="list-group">
        @for (expense of (expenses$ | async); track expense.id){
        <div class="list-group-item expense-item">
          @if(expense.id != this.editingExpense.id) {
          <div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn" (click)="select(expense.id)">
                <h5 class="mb-1">{{ expense.name }}</h5>
                <p class="mb-1">
                  date: {{ expense.date | date: 'dd/MM/yyyy' }}
                  budget: {{ expense.budget | currency }}
                  amount: {{ expense.getTotalAmount() | currency }}
                </p>
              </div>
              <div class="btn-group">
                <button class="btn btn-secondary" (click)="edit(expense)">Edit</button>
                <button class="btn btn-danger" (click)="remove(expense.id)">Remove</button>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                   [ngClass]="{
                   'bg-info' : expense.getPercentageWaste() < 50,
                      'bg-warning': expense.getPercentageWaste() > 50 && expense.getPercentageWaste() < 75,
                      'bg-danger': expense.getPercentageWaste() > 75
                   }"
                   [style.width.%]="expense.getPercentageWaste()"
                   [attr.aria-valuenow]="expense.getPercentageWaste()"></div>
            </div>
          </div>
          } @else {
          <div>
            <form class="d-flex justify-content-between align-items-center my-1" [formGroup]="expenseForm" (ngSubmit)="save()">
              <div class="form-floating">
                <input type="text" class="form-control" id="name" placeholder="Personal" formControlName="name" [class.is-invalid]="name?.invalid && name?.touched">
                <label for="name">Expense Name</label>
                @if(name?.invalid && name?.touched){
                <div>
                  @if(name?.errors?.['required']) {
                  <div class="text-danger">Expense Name is required.</div>
                  }
                </div>
                }
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="date" formControlName="date" [class.is-invalid]="date?.invalid && date?.touched">
                <label for="date">Date</label>
                @if(date?.invalid && date?.touched){
                <div>
                  @if(date?.errors?.['required']){
                  <div class="text-danger">Date is required.</div>
                  }
                  @if(date?.errors?.['pattern']){
                  <div class="text-danger">Invalid Date format. (yyyy-MM-dd).</div>
                  }
                </div>
                }
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="budget" formControlName="budget" [class.is-invalid]="budget?.invalid && budget?.touched">
                <label for="budget">Budget</label>
                @if(budget?.invalid && budget?.touched){
                <div>
                  @if(budget?.errors?.['pattern']){
                  <div class="text-danger">Only numbers is valid.</div>
                  }
                </div>
                }
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="amount" formControlName="amount" [class.is-invalid]="amount?.invalid && amount?.touched">
                <label for="amount">Amount</label>
                @if(amount?.invalid && amount?.touched){
                <div>
                  @if(amount?.errors?.['pattern']){
                  <div class="text-danger">Invalid amount format. (0000,00)</div>
                  }
                </div>
                }
              </div>
              <div class="btn-group">
                <button class="btn btn-secondary" type="button" (click)="cancelEdit()">Cancel</button>
                <button class="btn btn-success" type="submit" [disabled]="expenseForm.invalid">Save</button>
              </div>
            </form>
            @if (httpErrors){
            <div>
              <p class="mt-5 mb-3 text-danger text-center">{{errors.statusText}}</p>
            </div>
            }
          </div>
          }
        </div>
        }
        @empty {
        <div class="text-center">
          No expense created yet.
        </div>
        }
      </div>
    </div>
  </div>
</div>
<app-add-button (clickedEvent)="add()"></app-add-button>
