<div class="container text-center">
  <app-current-date (dateUpdatedEvent)="updateDate($event)"></app-current-date>
  <div class="row justify-content-center">
    <div class="wrap col-lg-8">

      <div class="container position-relative">
        <div class="row align-items-center">
          <!-- Back button on the left -->
          <div class="col-auto position-absolute start-0">
            <app-return-button (returnButtonEvent)="previous()"></app-return-button>
          </div>

          <!-- Centered title -->
          <div class="col text-center mt-3 mb-3">
            <h2>Expenses</h2>
          </div>

          <!-- Right button on the far right -->
          <div class="col-auto position-absolute end-0">
            <app-add-button (clickedEvent)="add()"></app-add-button>
          </div>

        </div>
      </div>

      <div class="list-group list-group-flush">
        @for (expense of (expenses$ | async); track expense.id){
        <button class="list-group-item" [ngClass]="{
                'list-group-item-action': expense.id != this.editingExpense.id,
                'btn-default': expense.id != this.editingExpense.id
              }">
          @if(expense.id != this.editingExpense.id) {
          <div (click)="select(expense.id)">
            <h3 class="mb-1 name">{{ expense.name }}</h3>
            <div class="btn-group" style="position: absolute; right: 15px; top: 10px;">
              <button name="edit" class="btn btn-secondary" (click)="edit(expense); $event.stopPropagation();">
                <fa-icon [icon]="faPenToSquare"></fa-icon>
              </button>
              <button name="delete" class="btn btn-danger" (click)="triggerDelete(expense.id); $event.stopPropagation();">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </div>
            <div class="clearfix mt-3">
              <span class="float-start">Budget:</span>
              <span class="float-end" [ngClass]="getClassBasedOnPercentage(getPercentageWaste(expense.getTotalAmount(), expense.budget))">{{getTextBasedOnPercentage(getPercentageWaste(expense.getTotalAmount(), expense.budget))}} {{ expense.budget - expense.getTotalAmount() | currency }} left</span>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                [ngClass]="getClassToProgressBar(getPercentageWaste(expense.getTotalAmount(), expense.budget))"
                [style.width.%]="getPercentageWaste(expense.getTotalAmount(), expense.budget)"
                [attr.aria-valuenow]="getPercentageWaste(expense.getTotalAmount(), expense.budget)">
                {{ expense.getTotalAmount() | currency }}
              </div>
            </div>
            <div class="clearfix">
              @if (!expense?.items?.length) {
              <span class="float-start date">{{ expense.date | date: 'dd/MM/yyyy' }}</span>
              }
              <span class="float-end budget">of {{ expense.budget | currency }}</span>
            </div>
          </div>
          } @else {
          <div>
            <form class="d-flex justify-content-between align-items-center my-1" [formGroup]="expenseForm"
              (ngSubmit)="save()">

              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Expense Name</mat-label>
                <input matInput id="name" placeholder="Personal" formControlName="name"
                  [class.is-invalid]="name?.invalid && name?.touched">
                <mat-error *ngIf="name?.invalid && name?.touched">
                  <ng-container *ngIf="name?.errors?.['required']">Expense Name is required.</ng-container>
                </mat-error>
              </mat-form-field>


              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Date</mat-label>
                <input matInput type="text" id="date" formControlName="date"
                  [class.is-invalid]="date?.invalid && date?.touched">
                <mat-error *ngIf="date?.invalid && date?.touched">
                  <ng-container *ngIf="date?.errors?.['required']">Date is required.</ng-container>
                  <ng-container *ngIf="date?.errors?.['pattern']">Invalid Date format. (yyyy-MM-dd).</ng-container>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Budget</mat-label>
                <input matInput type="text" id="budget" formControlName="budget"
                  [class.is-invalid]="budget?.invalid && budget?.touched">
                <mat-error *ngIf="budget?.invalid && budget?.touched">
                  <ng-container *ngIf="budget?.errors?.['pattern']">Only numbers are valid.</ng-container>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Amount</mat-label>
                <input matInput type="text" id="amount" formControlName="amount"
                  [class.is-invalid]="amount?.invalid && amount?.touched">
                <mat-error *ngIf="amount?.invalid && amount?.touched">
                  <ng-container *ngIf="amount?.errors?.['pattern']">Invalid amount format. (0000,00)</ng-container>
                </mat-error>
              </mat-form-field>

              <div class="btn-group">
                <button mat-button type="button" (click)="cancelEdit()">Cancel</button>
                <button mat-raised-button color="primary" type="submit" [disabled]="expenseForm.invalid">
                  <fa-icon [icon]="faFloppyDisk"></fa-icon> Save
                </button>
              </div>
            </form>
            @if (httpErrors){
            <div>
              <p class="mt-5 mb-3 text-danger text-center">{{errors.statusText}}</p>
            </div>
            }
          </div>
          }
        </button>
        }
        @empty {
        <div class="text-center">
          No expense created yet.
        </div>
        }
      </div>
    </div>
  </div>
</div>
<app-confirm-dialog (confirmed)="handleConfirmation($event)"></app-confirm-dialog>
