<div class="container">
  <h1 class="text-center mt-5">Expenses</h1>
  <div class="row expense-list justify-content-center">
    <div class="col-md-8">
      <div class="list-group">
        @for (expense of (expenses$ | async); track expense.id){
        <div class="list-group-item expense-item">
          @if(expense.id != this.editingExpense.id) {
          <div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn" (click)="select(expense.id)">
                <h5 class="mb-1">{{ expense.name }}</h5>
                <p class="mb-1">
                  goal: {{ expense.goal }}
                  amount: {{ expense.getTotalAmount() }}
                </p>
              </div>
              <div class="btn-group">
                <button class="btn btn-secondary" (click)="edit(expense)">Edit</button>
                <button class="btn btn-danger" (click)="remove(expense.id)">Remove</button>
              </div>
            </div>
          </div>
          } @else {
          <div>
            <form class="d-flex justify-content-between align-items-center my-1" [formGroup]="expenseForm" (ngSubmit)="save()">
              <div class="mb-6 form-floating">
                <input type="text" class="form-control" id="name" placeholder="Personal" formControlName="name" [class.is-invalid]="name?.invalid && name?.touched">
                <label for="name">Expense Name</label>
                @if(name?.invalid && name?.touched){
                <div>
                  @if(name?.errors?.['required']) {
                  <div class="text-danger">Expense Name is required.</div>
                  }
                </div>
                }
              </div>
              <div class="mb-2 form-floating">
                <input type="text" class="form-control" id="goal" formControlName="goal" [class.is-invalid]="goal?.invalid && goal?.touched">
                <label for="goal">Goal</label>
                @if(goal?.invalid && goal?.touched){
                <div>
                  @if(goal?.errors?.['pattern']){
                  <div class="text-danger">Only numbers is valid.</div>
                  }
                </div>
                }
              </div>
              <div class="mb-2 btn-group">
                <button class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
                <button class="btn btn-success" [disabled]="expenseForm.invalid">Save</button>
              </div>
            </form>
            @if (httpErrors){
            <div>
              <p class="mt-5 mb-3 text-danger text-center">{{errors.statusText}}</p>
            </div>
            }
          </div>
          }
        </div>
        }
        @empty {
        <div class="text-center">
          No expense created yet.
        </div>
        }
      </div>
    </div>
  </div>
</div>
